
{% extends 'base.html' %}

{% block content %}

<header class="bg-dark py-5">
            <div class="container px-4 px-lg-3 my-5">
                <div class="text-center text-white">
                    <h1 class="display-8 fw-bolder">About</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to Electronic-Components</p>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <br/>
                            <p align="justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas, vel temporibus nesciunt odio similique, nobis quae aperiam dolor atque iure sed quisquam porro modi, ut iste! Ullam illum minima repellendus?
                                <br/>
                                <br/>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, facilis labore? Unde ipsum facere maxime quidem, harum laborum rem officiis veritatis cupiditate autem veniam vero iusto non quibusdam temporibus nihil!
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis delectus illo quod molestias ea tenetur officia! Debitis, et voluptatem est laudantium voluptatibus quasi ipsum illo modi mollitia, vel, reprehenderit odio?
                                    <br/>
                                    <br/>
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos in est totam odio dolor ipsam iure, ducimus necessitatibus. Nisi molestiae veniam quos, iure sit vel consectetur totam at quisquam nam!
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio quibusdam dignissimos repudiandae commodi? Esse, consequuntur enim modi magni, ab iusto reprehenderit corrupti, minima a rerum molestias non quasi qui quis!
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem odit culpa quo vero et possimus ea hic aut. Ut, dolorem illum. Eveniet totam earum sed, quas ad repudiandae voluptas qui?
                                    <br/>
                                    <br/>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus architecto minus laudantium aut harum modi reiciendis est ipsum, rerum aperiam obcaecati nemo praesentium doloribus necessitatibus totam, ea vitae! Eos, sit?
                                    <br/>
                                </p>
                    </div>
                </center>

            </div>

        </div>


{% endblock %}