
{% extends 'base.html' %}

{% block content %}

<header class="bg-dark py-3">
            <div class="container px-4 px-lg-5 my-2">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Update Password</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Update user Password...</p>
                </div>
            </div>
        </header>
       
        <div class="container">
           
            <div class="row ml-8">
                
                    <div class="ml-8 col-md">
                        <br/>
                        <form method="POST" action="{% url 'update_password' %}">
                            <br/>
                            <br/>
                            {% csrf_token %}
                             {{ password_form.as_p }}
  <br/>
                                    <button type="submit" class="btn btn-primary">Update Password</button>
                        <br/>
                                </form>
                        <br/>
                    </div>
            

            </div>

        </div>


{% endblock %}