{% extends 'base.html' %}
{% block content %}

<header class="bg-dark py-3">
    <div class="container px-2 px-lg-2 my-2">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Checkout</h1>
            <p class="lead fw-normal font-sans text-white-50 mb-0">View Your Checkout</p>
        </div>
    </div>
</header>

<br/><br/> 

<div class="container">
  <br/>
    <div class="card">
        <h5 class="card-header">Order Summary</h5>
        <div class="card-body">
            {% for product in cart_products %}
                {{ product.name }}:
                {% if product.is_sale %}
                    R{{ product.sale_price }}
                {% else %}
                    R{{ product.price }}

                {% endif %}
<br/>
                <small>Quantity:
                {% for key, value in quantities.items %}
                    {% if key == product.id|stringformat:"s" %}
                        {{ value }}
                    {% endif %}
                {% endfor %}</small>
                <br/><br/>
                
            {% endfor %}
            Total: R {{ totals }}
            <br/><br/>
            <a href="{% url 'cart_summary'}" class="btn btn-sm btn-outline-secondary">Update Items</a>
        </div>
        <br/>
        
    </div>
    <br/><br/>
    <div class="card">
  <h5 class="card-header">Shipping Info</h5>
  <div class="card-body">
    {{ shipping_form.as_p }}
  </div>
</div>
<br/><br/>
<a href="{% url 'cart_summary'}" class="btn btn-secondary">Continue To Billing</a>
<br/><br/>
</div>

{% endblock %}